/* responsive */


.grid-x{
 border: black;
}
.cell{
  border: black;
  color: rgb(26, 113, 114);

}
body {
  background-color: rgb(222, 210, 153);

}
p{
  color: #e9d8dc;
}
h1{
  color: white;
  text-align: center;
  font-size: 3em;
  line-height: 2.0em;
  font-family:'Kavoon', cursive;
}
h2{
  color: #e9d8dc;
  font-family: 'Actor', sans-serif;
}
h3{
  color: white;
  font-family: 'Kalam', cursive;
}

img{
  margin:80px auto;

}
nav {
  width: 100%;
  background-color:  rgb(65,20,27);
  padding: 15px;
}
#menubar{
  margin-top: 30px;
  font-size: 12px;

}
nav li {
  margin-right: 3px;
}

nav li a:link, nav li a:visited {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
}
nav li a:hover {
  background-color: black;

}
nav>ul>li>a:active {
  color: gray;
}
footer,ul,img{
  font-family:  'Actor', sans-serif;
  font-size: 1.5em;
  line-height: 2.0em;

}

.tintbox{
  background-color: rgb(65,20,27); opacity:.9;
  width: 30%;
  margin-left: 10%;
}

.tinbox{
background-color: rgb(65, 20, 27); opacity: .8;
}


/* responsive */

/* title imgs */
#appetizer{

  background-image: url(../imgs/appetizer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#salads{

  background-image: url(../imgs/salad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#raman{

  background-image: url(../imgs/raman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#nigirisushi{

  background-image: url(../imgs/nigirisushi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#maki{

  background-image: url(../imgs/maki.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#handroll{

  background-image: url(../imgs/handroll.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#specialroll{

  background-image: url(../imgs/specialroll.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#sd{

  background-image: url(../imgs/sd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#skewers{

  background-image: url(../imgs/skewers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#desserts{

  background-image: url(../imgs/desserts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#beverages{

  background-image: url(../imgs/beverages.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* title imgs */

#float-right{
  float: right;
}

/* img */
body{
  background-image: url(../imgs/plate.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
  filter: saturate(1);
}
/* img */

#line-height {
  line-height: 15px;
}

div.left {
text-align: left;
}

div.right {
text-align: right;
}

/* NAV STYLE */

nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline;
}

/* sticky navbar */
/* body {
  margin: 0;
  font-family: Arial;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
} */
